/* GameControls - Molecule */
.controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.controls__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.controls__icon {
  width: 1rem;
  height: 1rem;
}
